node_modules/

uploads/hospitales/**.jpg
uploads/hospitales/**.gif
uploads/hospitales/**.png
uploads/hospitales/**.bmp
uploads/hospitales/**.jpeg

uploads/usuarios/**.jpg
uploads/usuarios/**.gif
uploads/usuarios/**.png
uploads/usuarios/**.bmp
uploads/usuarios/**.jpeg

uploads/medicos/**.jpg
uploads/medicos/**.gif
uploads/medicos/**.png
uploads/medicos/**.bmp
uploads/medicos/**.jpeg